.hospedagem-card-list {
  background-color: rgba(25, 44, 59, 0.5);
  width: 30rem;
  height: fit-content;
  border-radius: .3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
}

.hospedagem-client-infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hospedagem-date{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}