.formulario-cliente {
  background-color: rgba(0, 0, 0, .5);
  width: 60%;
  height: fit-content;
  border-radius: .3rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 2rem 0;
}

.form-body {
  width: 90%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.formulario-personal-infos, .formulario-document-infos   {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 49.5%;
}

.formulario-input {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.formulario-input > label {
  font-weight: bold;
  font-size: .9rem;
}

.formulario-input > input, .formulario-input > input[type="date"] {
  background-color: transparent;
  border: 1.5px solid rgba(0, 0, 0, .8);
  height: 2.5rem;
  border-radius: .2rem;
  padding: .25rem;
  color: #fff;
  font-weight: bold;
}

.formulario-input > input:focus {
  outline: none;
}

.formulario-input > input::placeholder {
  color: rgba(0, 0, 0, .5);
  font-weight: 700;
}

.formulario-radios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.formulario-radios > div {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.formulario-radios > div > label {
  font-weight: bold;
  font-size: .9rem;
}

.client-document {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.client-document > div {
  display: flex;
  gap: .25rem;

}
.client-document > div > label {
  font-weight: bold;
  font-size: .9rem;
}

.form-button {
  width: fit-content;
  padding: .5rem;
  background-color: rgba(0, 110, 255, 0.525) ;
  color: rgba(0, 31, 72, 0.925);
  font-weight: bold;
  border-radius: .2rem;
  transition: .3s;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  
  &:hover {
    background-color: rgba(0, 33, 76, 0.825) ;
    color: rgba(0, 110, 255, 0.525);
  }
}